
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp


# ==============================
# Логи
# ==============================
*.log
logs/

# ==============================
# Gradle (кроме wrapper.jar)
# ==============================
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar



# ==============================
# Сборки и артефакты
# ==============================
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.7z